<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>Se connecter </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{{ url_for('index') }}">Aide<span class="logo_colour"> aux courses</span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ url_for('index') }}">Accueil</a></li>
          <li><a href="{{ url_for('recettes') }}">Recettes</a></li>
          <li><a href="{{ url_for('liste') }}">Liste de courses</a></li>
          <li><a href="{{ url_for('planning') }}">Planning des menus</a></li>
          <li class="selected"><a href="{{ url_for('login') }}">Se connecter</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h1>Créer un compte</h1>
        <p>Définissez ici vos identifiants</p>
        <form action="{{url_for('signup')}}" method="post">
          <div class="form_settings">
            <p><span>Utilisateur :</span><input class="username" type="text" name="username" value="" placeholder="Nom d'utilisateur..." required /></p>
            <p><span>Adresse email :</span><input class="email" type="text" name="email" value="" placeholder="Adresse email..." required /></p>
            <p><span>Mot de passe :</span><input class="password" type="text" name="password" value="" placeholder="Mot de passe..." required /></p>
            <br>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <br>
            <p>
              <input class="submit" type="reset" name="reset" value="Effacer" />
              <input class="submit" type="submit" name="contact_submitted" value="Créer mon compte" />
            </p>
            </form>

        <p><br /><br />NOTE: r&eacutefl&eacutechir  &agrave comment g&eacuterer les identifications </p>
      </div>

    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{ url_for('index') }}">Accueil</a> | <a href="{{ url_for('recettes') }}">Recettes</a> | <a href="{{ url_for('planning') }}">Planning des menus</a> | <a href="{{ url_for('liste') }}">Liste de courses</a> | <a href="{{ url_for('login') }}">Se connecter</a></p>
    </div>
  </div>
</body>
</html>
